<!--
  Fields:
  - name, code, year, credits, semester, officeHours, officeLocation

  Questions:
  - Wouldn't office hours and location be specific to a lecturer?
  - Shouldn't code have typesafety for a primary key, where you can choose courscode only to add to chem, e.g. chem-1000
  - Shouldn't we remove department since this is for the chemistry department?
  - In the scope of this system, do we even need to store the prequisite for some course? How will it be used?
  - [Course summary is changed to description]
  - Why attach a year attribute to a course?
  - In terms of their relationship, should a course and a semester be linked since a course can be repeated for any one sem?
      ^ to solve this, a recommendation could be to allow the admin to select multiple semesters where it can be offered.
  - I see a possiblity for the faculty attribute, but can you give the rationale for having it?
  - Do we need a key for our course? won't firebase give it one?

  Services required:
  - getFaculties() used to get list of faculties for faculty choice in form.
  - getLecturers() * * *
  - getCourses() * * *
-->

<!-- ngForm ensures that the {{diagnostic}} tag registers all references variables -->
<form #courseForm='ngForm' class='form_style' (submit)='courseSubmit()'>
  <mat-form-field>
    <input matInput #field_name placeholder="Course Name" [(ngModel)]='course.name' name='name' required>
  </mat-form-field>

  <br>

  <mat-form-field>
    <span matPrefix>CHEM &nbsp;</span>
    <input matInput #field_code placeholder="Course Code" [(ngModel)]='course.code' name='code' required>
  </mat-form-field>

  <br>

  <mat-form-field>
    <mat-select placeholder="Year" [(ngModel)]='course.year' name='year'>
      <mat-option ng-value='year' *ngFor='let year of years' [value]="year"> {{ year }} </mat-option>
    </mat-select>
  </mat-form-field>

  <br>

  <mat-form-field>
    <mat-select placeholder="Credits" [(ngModel)]='course.credits' name='credits' required>
      <mat-option *ngFor='let credit of credits' [value]="credit"> {{ credit }} </mat-option>
    </mat-select>
  </mat-form-field>

  <br>

  <mat-form-field>
    <mat-select placeholder="Semesters" [(ngModel)]='course.semester' name='semester' multiple>
      <mat-option *ngFor='let semester of semesters' [value]="semester">{{ semester }}</mat-option>
    </mat-select>
  </mat-form-field>

  <br>

  <mat-form-field>
    <mat-select placeholder="Faculty"  [(ngModel)]='course.faculty' name='faculty' required>
      <mat-option *ngFor='let faculty of faculties' [value]="faculty"> {{ faculty }} </mat-option>
    </mat-select>
  </mat-form-field>

  <br>

  <mat-form-field>
    <textarea matInput #field_description placeholder='Enter a summary of the course' [(ngModel)]='course.description' name='description'></textarea>
  </mat-form-field>

  <br><br>

  <button mat-button type='submit'>Submit</button>
</form>

{{diagnostic}}
