<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Base</title>
</head>
<body>
  <div *ngIf='!(authService.user | async)' id='form_login'>
    <app-form-login></app-form-login>
  </div>

  <div *ngIf='authService.user | async'>
    <mat-toolbar class='toolbar'>
      <mat-toolbar-row class='toolbar_row'>
        <span>
          <img id='logo' src='/assets/img/chem.png'> UWI Chemistry Administration
        </span>

        <span>
          <button mat-icon-button [matMenuTriggerFor]="more" class='right_justified'>
            <img id='more' src='/assets/img/more.png'>
          </button>

          <mat-menu #more="matMenu">
            <button mat-menu-item>
              <img id='logout' src='/assets/img/logout.png'>
              <button mat-button (click)='logout()'>Logout</button>
            </button>
          </mat-menu>
        </span>

      </mat-toolbar-row>
    </mat-toolbar>

    <mat-tab-group class='tabs_services'>
      <mat-tab label='View'>
        <app-view-model></app-view-model>
      </mat-tab>

      <mat-tab label='Courses'>
        <mat-card class='form_card'>
          <app-form-course></app-form-course>
        </mat-card>
      </mat-tab>

      <mat-tab label='Events'>
        <mat-card class='form_card'>
          <app-form-event></app-form-event>
        </mat-card>
      </mat-tab>

      <mat-tab label='Resources'>
        <mat-card class='form_card'>
          <app-form-resource></app-form-resource>
        </mat-card>
      </mat-tab>

      <mat-tab label='Users'>
          <app-form-user></app-form-user>
      </mat-tab>

      <mat-tab label='Department Detail'>
        <mat-card class='form_card'>
          <app-form-depdetails></app-form-depdetails>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </div>

</body>
</html>
